<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtmotion.zephyrhxmbtforgooglefit" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.xtmotion.zephyrhxmbtforgooglefit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--services are defined for different productFlavours, -->
        <!--because currently Google Fit doesn't support publishing of same dataType from same APK -->

        <!--<service-->
            <!--android:name="com.xtmotion.zephyrhxmbtforgooglefit.HxmSensorService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.fitness.service.FitnessSensorService" />-->
                <!--<data android:mimeType="vnd.google.fitness.data_type/com.google.heart_rate.bpm" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service-->
            <!--android:name="com.xtmotion.zephyrhxmbtforgooglefit.RandomSensorService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.fitness.service.FitnessSensorService" />-->
                <!--<data android:mimeType="vnd.google.fitness.data_type/com.google.heart_rate.bpm" />-->
            <!--</intent-filter>-->
        <!--</service>-->

    </application>

</manifest>
